{% extends 'admin/base.html.twig' %}

{% block title %}Modification de l'annonce {{ ad.id }}{% endblock %}
{% block stylesheets %}

{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">

        <h1 class="my-5">Modification de l'annonce {{ ad.title }}</h1>
        <div class="row">
            <div class="col mb-5">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Les Images</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            {% if ad.adCoverImage  %}
                                <div class="col-4 mx-2 imageContainer">
                                    <div class="row justify-content-center">
                                        <img class="img-fluid col-12 px-0" src="{{ vich_uploader_asset(ad, 'imageFile2') }}" alt="Image de {{ ad.author.fullName }}">
                                        <div class="imageDeleter text-center col-12">
                                            <a href="{{ path('admin_image_delete_cover', {'id': ad.id}) }}" data-delete data-token="{{ csrf_token('delete'~ ad.id) }}">
                                                <span>Image de couverture</span><br>
                                                <i class="fas fa-trash"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                {% elseif ad.coverImage %}
                                    <div class="col-4 mx-2 imageContainer">
                                        <div class="row justify-content-center">
                                            <img class="img-fluid col-12 px-0" src="{{ ad.coverImage }}" alt="Image de {{ ad.author.fullName }}">
                                            <div class="imageDeleter text-center col-12">
                                                <a href="{{ path('admin_image_delete_cover', {'id': ad.id}) }}" data-delete data-token="{{ csrf_token('delete'~ ad.id) }}">
                                                    <span>Image de couverture</span><br>
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                            {% endif %}
                            {% for image in ad.images  %}
                                {% if image.url %}
                                    <div class="col-1 mx-2 imageContainer">
                                        <div class="row justify-content-center">
                                            <img class="img-fluid col-12 px-0" src="{{ image.url }}" alt="Image de {{ image.ad.author.fullName }}">
                                            <div class="imageDeleter text-center col-12">
                                                <a href="{{ path('admin_image_delete', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete'~ image.id) }}">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {% if vich_uploader_asset(image, 'imageFile') %}
                                        <div class="col-1 mx-2 imageContainer">
                                            <div class="row justify-content-center">
                                                <img class="img-fluid col-12 px-0" src="{{ vich_uploader_asset(image, 'imageFile') |imagine_filter('mini') }}" alt="Image de {{ image.ad.author.fullName }}">
                                                <div class="imageDeleter text-center col-12">
                                                    <a href="{{ path('admin_image_delete', {'id': image.id}) }}" data-delete data-token="{{ csrf_token('delete'~ image.id) }}">
                                                        <i class="fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Corriger l'annonce ?</h4>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <input type="hidden" name="_token_save" value="{{ csrf_token('save' ~ ad.id ) }}">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-check mr-1"></i>Enregistrer les modifications
                        </button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-light">
                    <div class="card-header">
                        <h4 class="card-title">Les réservations</h4>
                    </div>
                    <div class="card-body">
                        <div class="table table-hover">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Voyageur</th>
                                        <th>Date de réservation</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for booking in ad.bookings  %}
                                        <tr>
                                            <td>{{ booking.id }}</td>
                                            <td>{{ booking.booker.fullName }}</td>
                                            <td>{{ booking.createdAt | date('d/m/Y H:i') }}</td>
                                            <td>
                                                {% include 'admin/common/_editButton.html.twig' with {
                                                    'route': 'admin_booking_edit',
                                                    'id': booking.id,
                                                    'awesome':'pen',
                                                } %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card bg-light mt-5">
                    <div class="card-header">
                        <h4 class="card-title">Les Commentaires</h4>
                    </div>
                    <div class="card-body">
                        <div class="table table-hover">
                            <table>
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Voyageur</th>
                                    <th>Note</th>
                                    <th>Commentaire</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for comment in ad.comments  %}
                                    <tr>
                                        <td>{{ comment.id }}</td>
                                        <td>{{ comment.author.fullName }}</td>
                                        <td>{{ comment.rating }}</td>
                                        <td>{{ comment.content }}</td>
                                        <td>
                                            {% include 'admin/common/_editButton.html.twig' with {
                                                'route': 'admin_comment_edit',
                                                'id': comment.id,
                                                'awesome':'pen',
                                            } %}

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block _ad_images_widget %}
    <div class="row">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _ad_images_entry_row %}
    <div id="block_{{ id }}" class="col-3 p-1">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _ad_images_entry_widget %}
        <div class="col-12 mb-3 p-1">
            {% if value %}
                <img class="img-fluid col-12 p-0" src="{{ value.url }}" alt="Image de l'annonce n°{{ value.ad.id }} de {{ value.ad.author.getFullName }}">
            {% endif %}
            <button type="button" class="btn btn-danger col-12 w-100" data-action="delete" data-target="#block_{{ id }}" style="border-top-left-radius: 0; border-top-right-radius: 0">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        {#<div class="col-6">
            {{ form_row(form.caption) }}
            {{ form_widget(form.url, {'type':'hidden'}) }}
        </div>#}
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('[data-action="delete"]').click(function () {
                const target = $(this).data('target');
                console.log(target);
                $(target).remove();
            })
            $('#ad_images').addClass('row').css('padding','10px');
        })
    </script>
{% endblock %}




