{% extends 'admin/base.html.twig' %}

{% block title %}Administration des annonces{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="my-5">Gestion des annonces</h1>
    <table class="table table-hover table-striped myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th class="text-center">Réservations</th>
                <th class="text-center">Note</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in data %}{# in pagination.data #}
                {% set author = ad.author %}
                <tr>
                    <td class="align-middle">{{ ad.id }}</td>
                    <td class="align-middle">{{ ad.title }}</td>
                    <td class="align-middle">
                        <a href="{{ path('admin_user_edit', {'id':author.id}) }}">
                            <img class="avatar avatar-micro mr-2" src="{{ author.picture }}" alt="Avata de {{ author.fullname }}">{{ author.fullName }}
                        </a>
                    </td>
                    <td class="text-center align-middle h5"><span class="badge badge-info">{{ ad.bookings|length }}</span></td>
                    <td class="text-center align-middle h5">
                        {% if ad.avgRatings == 0 %}
                            <span class="badge badge-dark">pas encore noté</span>
                        {% else %}
                        <span class="badge badge-warning">{{ ad.avgRatings|number_format(1, ',', ' ') }}</span></td>
                        {% endif %}
                    <td class="text-center row justify-content-center">
                        {% include 'admin/common/_editButton.html.twig' with {
                            'route': 'admin_ads_edit',
                            'id': ad.id,
                        } %}
                        {% include 'admin/common/_deleteButton.html.twig' with {
                            'route': 'admin_ads_delete',
                            'id': ad.id,
                        } %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{#{{ pagination.display }}#}
</div>
{% endblock %}
