{% extends 'admin/base.html.twig' %}
{% block title %}Modification du l'utilisateur n°{{ user.id }}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Modification de l'utilisateur n°{{ user.id }}</h1>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                    <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.email) }}</div>
                    <div class="col-md-6">{{ form_row(form.introduction) }}</div>
                </div>
            </div>
            <div class="col-12 my-5">
                <div class="row">
                    <div class="col-6">
                        {{ form_label(form.imageFile) }}
                        {% if user.avatarname %}
                            <img src="{{ vich_uploader_asset(user, 'imageFile')}}" class="avatar avatar-mini" alt="Avatar de {{ user.fullName }}">
                        {% elseif not user.avatarname and user.picture %}
                            <img src="{{ user.picture }}" class="avatar avatar-mini" alt="Avatar de {{ user.fullName }}">
                        {% else %}
                            <img src="{{ asset('images/user/avatar_default.jpeg') }}" class="avatar avatar-mini" alt="Avatar de {{ user.fullName }}">
                        {% endif %}
                        {{ form_widget(form.imageFile) }}
                    </div>
                    <div class="col-12 mt-3">
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </div>
            <input type="hidden" name="_token_save" value="{{ csrf_token('save' ~ user.id ) }}">
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-check mr-1"></i>Enregistrer les modifications
            </button>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}


