{% extends 'admin/base.html.twig' %}

{% block title %}Administration des utilisateurs{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5">Gestion des utilisateurs</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Utilisateur</th>
                <th>Email</th>
                <th>Description</th>
                <th>Introduction</th>
                <th class="text-center">Annonces</th>
                <th class="text-center">Réservations</th>
                <th class="text-center">Commentaires</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="align-middle">{{ user.id }}</td>
                    <td class="align-middle">
                        <img class="avatar avatar-micro mr-2" src="{{ user.picture }}" alt="Avata de {{ user.fullname }}">{{ user.fullName }}
                    </td>
                    <td class="align-middle">{{ user.email}}</td>
                    <td class="align-middle">{{ user.introduction }}</td>
                    <td id="admin_user_description" class="align-middle">{{ user.description|raw }}</td>
                    <td class="align-middle text-center h5">
                        <span class="badge badge-info">{{ user.ads|length }}</span>
                    </td>
                    <td class="align-middle text-center h5">
                        <span class="badge badge-success">{{ user.bookings|length  }}</span>
                    </td>
                    <td class="align-middle text-center h5">
                        <span class="badge badge-warning">{{ user.comments|length  }}</span>
                    </td>
                    <td class="align-middle text-center">
                        <a href="{{ path('admin_user_edit', {'id': user.id}) }}" class="btn btn-primary my-1 mx-1"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger my-1 mx-1"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
