<footer class="mt-5 bg-dark py-5 text-center text-light">
    <div class="row my-5 py-5">
        <div class="col">
            <a class="footerLink" target="_blank" href="{{ path('administrator_pages_qsm') }}">Qui sommes nous ?</a>
        </div>
        <div class="col">
            <a class="footerLink" target="_blank" href="{{ path('administrator_pages_cgv') }}">Conditions générales des ventes</a>
        </div>
        <div class="col">
            <a class="footerLink" target="_blank" href="{{ path('administrator_pages_infoFlashbnb') }}">FlashBnb - Informations</a>
        </div>
        <div class="col">
            <a class="footerLink" target="_blank" href="{{ path('administrator_pages_mentionsLegales') }}">Mentions légales</a>
        </div>
        <div class="col">
            <a class="footerLink" target="_blank" href="{{ path('administrator_pages_contact') }}">Nous contacter</a>
        </div>
        <div class="col">
            <a class="footerLink" target="_blank" href="{{ path('administrator_pages_newsletter') }}">S'inscrire à la newsletter</a>
        </div>
        <div class="col">
            <a class="footerLink" target="_blank" href="{{ path('administrator_pages_plan') }}">Plan du site</a>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-6 text-left px-5 mx-4">
            <span style="font-size: 1rem">Nous suivre:</span>
            <a class="socialNetworkFooter px-1" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter" style="color: #00B6F1;"></i></a>
            <a class="socialNetworkFooter px-1" href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook" style="color: #3B5998;"></i></a>
            <a class="socialNetworkFooter px-1" href="https://www.whatsapp.com/?lang=fr" target="_blank"><i class="fab fa-whatsapp" style="color: #25d366;"></i></a>
            <a class="socialNetworkFooter px-1" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin-in" style="color: #04669A;"></i></a>
            <a class="socialNetworkFooter px-1" href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram" style="color: #c13584"></i></a>
            <a class="socialNetworkFooter px-1" href="https://www.snapchat.com/l/fr-fr/" target="_blank"><i class="fab fa-snapchat" style="color: #fffc00;"></i></a>
        </div>
    </div>
    <br><p class="my-5" style="font-size: 1rem">Copyright FlashBnB</p>
</footer>