{% extends 'admin/base.html.twig' %}

{% block title %}Administration des réservations{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5">Gestion des réservations</h1>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Visiteur</th>
                <th>Annonce</th>
                <th>Durée</th>
                <th>Montant</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for booking in pagination.data %}
                {% set author = booking.booker %}
                <tr>
                    <td class="align-middle">{{ booking.id }}</td>
                    <td class="align-middle">{{ booking.createdAt|date('d/m/Y à H:i') }}</td>
                    <td class="align-middle">
                        <img class="avatar avatar-micro mr-2" src="{{ author.picture }}" alt="Avata de {{ author.fullname }}">{{ author.fullName }}
                    </td>
                    <td class="align-middle">{{ booking.ad.id }} - {{ booking.ad.title }}</td>
                    <td class="align-middle h5">
                        <span class="badge badge-info">{{ booking.duration }}</span>
                    </td>
                    <td class="align-middle h5">
                        <span class="badge badge-warning">{{ booking.amount|number_format(0, ',', ' ') }} &euro;</span>
                    </td>
                    <td class="text-center row justify-content-center">
                        {% include 'admin/common/_editButton.html.twig' with {
                            'route': 'admin_booking_edit',
                            'id': booking.id,
                        } %}
                        {% include 'admin/common/_deleteButton.html.twig' with {
                            'route': 'admin_booking_delete',
                            'id': booking.id,
                        } %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {{ pagination.display }}

    </div>
{% endblock %}
