{% extends 'admin/base.html.twig' %}

{% block title %}Administration de la newsletter{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h1 class="my-5">Gestion des abonnés à la newsletter</h1>
        <a class="btn btn-secondary mb-4" href="{{ path('admin_newsletter_email') }}">Envoyer une Newsletter</a>
        <table class="table table-hover table-striped myTable">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for newsletter in data %}
                <tr>
                    <td class="align-middle">{{ newsletter.id }}</td>
                    <td class="align-middle">{{ newsletter.lastname }}</td>
                    <td class="align-middle">{{ newsletter.firstname }}</td>
                    <td class="align-middle">{{ newsletter.email }}</td>
                    <td class="text-center row justify-content-center">
                        {% include 'admin/common/_editButton.html.twig' with {
                            'route': 'admin_newsletter_edit',
                            'id': newsletter.id,
                        } %}
                        {% include 'admin/common/_deleteButton.html.twig' with {
                            'route': 'admin_newsletter_delete',
                            'id': newsletter.id,
                        } %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {#{{ pagination.display }}#}
    </div>
{% endblock %}
