<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>FlashBnB - {% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('css/select2') }}

    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/fav-icon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/fav-icon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/fav-icon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('images/fav-icon/site.webmanifest') }}">

    <script src="https://kit.fontawesome.com/e971e3c315.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>




    {% block stylesheets %}{% endblock %}
</head>
    <body>
        <div id="main">

            {% include 'admin/common/header.html.twig' %}
            {% include 'common/flashes.html.twig' %}
            {% block body %}{% endblock %}


            {% include 'admin/common/footer.html.twig' %}
            {{ encore_entry_script_tags('app') }}

            {{ encore_entry_script_tags('js/select2') }}
            <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>



            <style>
                select[name="DataTables_Table_0_length"]{
                    box-shadow: none;
                    border-radius: 0.25rem;
                    border: 1px solid #ced4da;
                    padding: 5px;
                }
                input[aria-controls="DataTables_Table_0"]{
                    border: 1px solid #ced4da;
                    border-radius: 0.25rem;
                }
            </style>

            <script>
                $(document).ready( function () {
                    $('.myTable').DataTable(
                        {
                            language: {
                                "sEmptyTable":     "Aucune donnée disponible dans le tableau",
                                "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                                "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
                                "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                                "sInfoPostFix":    "",
                                "sInfoThousands":  ",",
                                "sLengthMenu":     "Afficher _MENU_ éléments",
                                "sLoadingRecords": "Chargement...",
                                "sProcessing":     "Traitement...",
                                "sSearch":         "Rechercher :",
                                "sZeroRecords":    "Aucun élément correspondant trouvé",
                                "oPaginate": {
                                    "sFirst":    "Premier",
                                    "sLast":     "Dernier",
                                    "sNext":     "Suivant",
                                    "sPrevious": "Précédent"
                                },
                                "oAria": {
                                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                                    "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                                },
                                "select": {
                                    "rows": {
                                        "_": "%d lignes sélectionnées",
                                        "0": "Aucune ligne sélectionnée",
                                        "1": "1 ligne sélectionnée"
                                    }
                                }
                            }
                        });
                        $('select[name="DataTables_Table_0_length"]')
                    });
                $('select').select2();



            </script>


            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
