{% extends 'admin/base.html.twig' %}
{% block title %}Modification du commentaire n°{{ comment.id }} {% endblock %}
{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Modification du commentaire n°{{ comment.id }}</h1>
        <div class="row">
            <div class="col-12 alert alert-info rounded py-3 mb-2">
                <p><strong>Annonce liée : </strong>{{ comment.ad.id }} - {{ comment.ad.title }}</p>
                <p><strong>Auteur : </strong>{{ comment.author.fullName }}</p>
                <p><strong>Date de création : </strong>{{ comment.createdAt|date('d/m/Y à H:i') }}</p>
                <p><strong>Note donnée : </strong>{{ comment.rating }}</p>
            </div>
            <div class="col-12 mt-4">
                {{ form_start(form) }}
                {{ form_row(form.content, {'label':  'Commentaire de ' ~ comment.author.firstName}) }}
                <input type="hidden" name="_token_save" value="{{ csrf_token('save' ~ comment.id ) }}">
                <button class="btn btn-primary my-4" type="submit">
                    <i class="fas fa-check mr-1"></i>Enregistrer les modifications
                </button>
                {{ form_end(form) }}
            </div>

        </div>
    </div>

{% endblock %}







