{% set url = path('user_show', { 'slug': user.slug } ) %}
<div class="col">
    <div class="card border-secondary mb-4">
        <div class="card-body">
            <h4 class="card-title">{{ user.FullName }}</h4>
            <i>Note moyenne des commentaires sur <span class="badge badge-info px-1">{{ data.sumAds }} annonces</span>
                comprenant <span class="badge badge-warning">{{ data.sumComments}} commentaires</span>
            </i>
            <br>
            {% include 'common/rating.html.twig' with {'rating': data.avgRating} %}
            <hr>
            <div class="card-text">
                {% if user.avatarname %}
                    <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('thumb')}}" class="avatar avatar-large float-left mr-3" alt="Avatar de {{ user.fullName }}"> <strong>{{ user.fullName }}</strong>
                {% elseif not user.avatarname and user.picture %}
                    <img src="{{ user.picture }}" class="avatar avatar-large float-left mr-3" alt="Avatar de {{ user.fullName }}"> <strong>{{ user.fullName }}</strong>
                {% else %}
                    <img src="{{ asset('images/user/avatar_default.jpeg') }}" class="avatar avatar-large float-left mr-3" alt="Avatar de {{ user.fullName }}"> <strong>{{ user.fullName }}</strong>
                {% endif %}
                <p class="mt-2">{{ user.introduction }}</p>
                <a href="{{ url }}" class="btn btn-success float-right">En savoir plus</a>
            </div>
        </div>
    </div>
</div>