<div class="d-flex justify-content-center">

        {% if pages == 0 %}
            <div class="mt-5 text-center">
                <i class="far fa-frown pb-3" style="font-size: 10rem"></i>
                <h4>Nous n'avons trouvé aucun résultats...<br><br> Veuillez changer vos paramètres de recherche ou
                    <a href="{{ path('ads_index') }}">cliquez ici</a> pour réinitialiser
                </h4>
            </div>
        {% else %}
            <ul class="pagination">
                <li class="page-item {% if page == 1 %} disabled {% endif %}">
                    <a class="page-link" href="{{ path(route, {'page': page - 1}) }}">&laquo;</a>
                </li>
            {% for i in 1..pages %}
                <li class="page-item {% if page == i %} active {% endif %}">
                    <a class="page-link" href="{{ path(route, {'page': i}) }}">{{ i }}</a>
                </li>
            {% endfor %}
                <li class="page-item {% if page == pages %} disabled {% endif %}">
                    <a class="page-link" href="{{ path(route, {'page': page + 1}) }}">&raquo;</a>
                </li>
            </ul>
        {% endif %}
</div>