<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>FlashBnB - {% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">



        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('images/fav-icon/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('images/fav-icon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('images/fav-icon/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('images/fav-icon/site.webmanifest') }}">
        {#<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">#}


        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('css/select2') }}

        <script src="https://kit.fontawesome.com/e971e3c315.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://cdn.tiny.cloud/1/xux5nc9ofnf9ijk7jk4efwtw030xpqf4dxyowv9lk0g6mlmu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
        <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
        <style>
            #ui-id-1{
                background-color: white;
                width: 200px;
                list-style: none;
                border: 1px solid #ced4da ;
                border-radius: 0.25rem;
                padding: 0;
            }
            #ui-id-1>li{
                padding: 5px;
            }
            #ui-id-1>li:hover{
                cursor: pointer;
                color: whitesmoke;
                background-color: #2196F3;
            }
            #searchBarre{
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                width: 300px;
            }

            .select2-selection.select2-selection--multiple {
                border: none;
            }

            span.selection {
                border: none;
            }

            .select2.select2-container.select2-container--default.select2-container--below.select2-container--focus {
                border: none;
            }
        </style>


        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="main">

            {% include 'common/header.html.twig' %}
            {% include 'common/flashes.html.twig' %}
            {% block body %}{% endblock %}


            {% include 'common/footer.html.twig' %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>



            {#<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/lang/summernote-fr-FR.min.js"></script>#}



            {{ encore_entry_script_tags('js/select2') }}
            {{ encore_entry_script_tags('js/autocomplete') }}
            <script>
                $('select#options').select2();
                /*tinymce.init({
                    selector: 'textarea',
                    force_br_newlines : true,
                    force_p_newlines : false,
                    plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                    toolbar_mode: 'floating',
                    language:'fr_FR',
                    menubar: 'file edit view format table tools help'
                });*/


                /*$(document).ready(function() {
                    $('textarea').summernote({
                        lang: 'fr-FR',
                        height: 300,                 // set editor height
                        minHeight: null,             // set minimum height of editor
                        maxHeight: null,             // set maximum height of editor
                        toolbar: [
                            // [groupName, [list of button]]
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            ['para', ['paragraph']]
                        ]
                    });
                });*/

            </script>

            {% block javascripts %}{% endblock %}
        </div>
    </body>
</html>
