{% extends 'admin/base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-12 my-2 col-sm-6 col-md-6  col-lg-3">
                <a class="dash-link" href="{{ path('admin_user_index') }}">
                    <div class="card bg-gradient-primary text-white text-center dashdiv">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4"><i class="fas fa-users fa-3x"></i></div>
                                <div class="col-8">
                                    <h4 class="card-title">{{ stats.usersCount }} utilisateurs inscrits</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 my-2 col-sm-6 col-md-6  col-lg-3">
                <a class="dash-link" href="{{ path('admin_ads_index') }}">
                    <div class="card bg-gradient-success text-white text-center dashdiv">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <i class="fas fa-hotel fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h4 class="card-title">{{ stats.adsCount }} annonces postées</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 my-2 col-sm-6 col-md-6  col-lg-3">
                <a class="dash-link" href="{{ path('admin_booking_index') }}">
                    <div class="card bg-gradient-warning text-white text-center dashdiv">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <i class="fas fa-folder fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h4 class="card-title">{{ stats.bookingsCount }} réservations</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-12 my-2 col-sm-6 col-md-6  col-lg-3">
                <a class="dash-link" href="{{ path('admin_comment_index') }}">
                    <div class="card bg-gradient-info text-white text-center dashdiv">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <i class="fas fa-comments fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h4 class="card-title">{{ stats.commentsCount }} commentaires</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>in
            </div>
            <div class="col-12 my-2 col-sm-6 col-md-6  col-lg-3">
                <a class="dash-link" href="{{ path('admin_comment_index') }}">
                    <div class="card bg-gradient-dark text-white text-center dashdiv">
                        <div class="card-body">
                            <div class="row" style="color: white">
                                <div class="col-4">
                                    <i class="fas fa-envelope fa-3x"></i>
                                </div>
                                <div class="col-8">
                                    <h4 class="card-title">{{ stats.newsletterCount }} newsletter</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <div class="alert alert-success">
                    <h2 class="alert-heading my-3">
                        <i class="fas fa-arrow-up mr-2"></i>Les annonces les mieux notées
                    </h2>
                    <table class="table table-hover text-light">
                        <thead>
                            <tr>
                                <th>Annonce</th>
                                <th>Propriétaire</th>
                                <th class="text-center">Moyenne</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in stats.adsStats('DESC')  %}
                                {% set user = repo.find(ad.userId) %}
                                <tr>
                                    <td>
                                        <a href="{{ path('admin_ads_edit', {'id':ad.id}) }}">{{ ad.id }} - {{ ad.title }}</a>
                                        <input type="hidden" name="_method" value="EDIT">
                                        <input type="hidden" name="_token_edit" value="{{ csrf_token('edit' ~ ad.id ) }}">
                                    </td>
                                    <td>
                                        <a href="{{ path('admin_user_edit', {'id':ad.userId}) }}">
                                            {% if ad.avatarname %}
                                                <img src="{{ vich_uploader_asset(user, 'imageFile')}}" class="avatar avatar-micro mr-1" alt="Avatar de {{ user.fullName }}">
                                            {% elseif not user.avatarname and user.picture %}
                                                <img src="{{ ad.picture }}" class="avatar avatar-micro mr-1" alt="Avatar de {{ user.fullName }}">
                                            {% else %}
                                                <img src="{{ asset('images/user/avatar_default.jpeg') }}" class="avatar avatar-micro mr-1" alt="Avatar de {{ user.fullName }}">
                                            {% endif %}
                                            {#<img class="avatar avatar-micro mr-1" src="{{ ad.picture }}"
                                             alt="avatar de {{ ad.firstName }} {{ ad.lastName }}">#}
                                            {{ user.fullName }}
                                            <input type="hidden" name="_method" value="EDIT">
                                            <input type="hidden" name="_token_edit" value="{{ csrf_token('edit' ~ user.id ) }}">
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <span class="badge badge-light">
                                            {{ ad.note|number_format(1, ',', ' ') }}
                                        </span>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="col">
                <div class="alert alert-danger">
                    <h2 class="alert-heading my-3">
                        <i class="fas fa-arrow-down mr-2"></i>Les annonces les moins biens notées
                    </h2>
                    <table class="table table-hover text-light">
                        <thead>
                        <tr>
                            <th>Annonce</th>
                            <th>Propriétaire</th>
                            <th class="text-center">Moyenne</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for ad in stats.adsStats('ASC')  %}
                            {% set user = repo.find(ad.userId) %}
                            <tr>
                                <td>
                                    <a href="{{ path('admin_ads_edit', {'id':ad.id}) }}">{{ ad.id }} - {{ ad.title }}</a>
                                    <input type="hidden" name="_method" value="EDIT">
                                    <input type="hidden" name="_token_edit" value="{{ csrf_token('edit' ~ ad.id ) }}">
                                </td>
                                <td>
                                    <a href="{{ path('admin_user_edit', {'id':ad.userId}) }}">
                                        {% if ad.avatarname %}
                                            <img src="{{ vich_uploader_asset(user, 'imageFile')}}" class="avatar avatar-micro mr-1" alt="Avatar de {{ user.fullName }}">
                                        {% elseif not user.avatarname and user.picture %}
                                            <img src="{{ ad.picture }}" class="avatar avatar-micro mr-1" alt="Avatar de {{ user.fullName }}">
                                        {% else %}
                                            <img src="{{ asset('images/user/avatar_default.jpeg') }}" class="avatar avatar-micro mr-1" alt="Avatar de {{ user.fullName }}">
                                        {% endif %}
                                        {#<img class="avatar avatar-micro mr-1" src="{{ ad.picture }}"
                                         alt="avatar de {{ ad.firstName }} {{ ad.lastName }}">#}
                                        {{ user.fullName }}
                                        <input type="hidden" name="_method" value="EDIT">
                                        <input type="hidden" name="_token_edit" value="{{ csrf_token('edit' ~ user.id ) }}">
                                    </a>
                                </td>
                                <td class="text-center">
                                        <span class="badge badge-light">
                                            {{ ad.note|number_format(1, ',', ' ') }}
                                        </span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
