{% extends 'admin/base.html.twig' %}

{% block title %}Administration des options{% endblock %}

{% block body %}

<div class="container-fluid">
    <h1 class="my-5">Gestion des options</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for option in pagination.data %}
                <tr>
                    <td class="align-middle">{{ option.id }}</td>
                    <td class="align-middle">{{ option.name }}</td>
                    <td class="text-center">
                        <a href="{{ path('admin_option_edit', {'id': option.id}) }}" class="btn btn-primary mr-lg-1 my-1"><i class="fas fa-edit"></i></a>
                        <a href="{{ path('admin_option_delete', {'id': option.id}) }}" class="btn btn-danger ml-lg-1 my-1"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ pagination.display }}
</div>
{% endblock %}
