{% extends 'base.html.twig' %}
{% block title %}Modification d'une annonce{% endblock %}
{{ encore_entry_link_tags('css/select2') }}


{% form_theme form 'common/Form/_collection.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Modifier l'annonce {{ ad.title }}</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="form-group">
            <button class="btn btn-primary">Enregistrer les modifications</button>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/add-image') }}
    {{ encore_entry_script_tags('js/select2') }}

{% endblock %}

