{% extends 'base.html.twig' %}

{% block title %}Les annonces{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron">
            {{ form_start(form) }}
            <div class="form-row">
                <div class="col">
                    {{ form_row(form.maxPrice) }}
                </div>
                <div class="col">
                    {{ form_row(form.minRooms) }}
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group">
                        <label for="ad_adress">Adresse</label>
                        <input type="text" id="ad_adress">
                    </div>
                </div>
                <div class="col text-center">

                    <div class="form-group">
                        <label for="{{ form.distance.vars.id }}">{{ form_label(form.distance) }}</label>
                        {{ form_widget(form.distance) }}
                        <span id="distance_value" class="text-center"></span>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col">
                    {{ form_row(form.options) }}
                </div>
            </div>

            <div class="col-12">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
            {{ form_end(form) }}
        </div>
        <h1 class="my-4">Voici les annonces de nos hôtes</h1>
        <div class="row">
            {% for ad in paginator %}
                {% include 'common/_ad.html.twig'  with {'ad': ad }%}
            {% endfor %}
        </div>
    </div>

    {#{{ paginator.display }}#}
    <div class="navigation">
        {{ knp_pagination_render(paginator) }}
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('#minRooms').attr({max:{{ stats.maxRooms }}, min: 1});
            $('#distance_value').text($("#distance").val() + ' km');
        })
        $('#distance').mousedown(e => {
            $(document).mousemove(e => {
                $('#distance_value').text($("#distance").val() + ' km');
            });
        });
    </script>
{% endblock %}
