{% extends 'base.html.twig' %}
{% block title %}Création d'une annonce{% endblock %}

{% form_theme form 'common/Form/_collection.html.twig' %}

    {% block stylesheets %}
        {{ encore_entry_link_tags('css/select2') }}

        <style>

            .select2-selection.select2-selection--single, .select2-search.select2-search--dropdown, .select2-dropdown.select2-dropdown--below,
            .select2.select2-container.select2-container--default.select2-container--below.select2-container--open, .select2.select2-container.select2-container--default{
                max-width: 100px;
                min-height: 39px;
                text-align: center;
                align-content: center;
                align-items: center;
            }
            span>.select2-selection.select2-selection--single{
                border: 1px solid #CCC;
            }
        </style>
    {% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4 class="my-4">Créer une nouvelle annonce</h4>
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-12">
                        {{ form_row(form.title) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.adress) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.price) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.rooms) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.options) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.imageFile2) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.imageFiles) }}
                    </div>

                    <div class="col-12">
                        {{ form_row(form.introduction) }}
                    </div>
                    <div class="col-12">
                        {{ form_row(form.content) }}
                    </div>

                </div>
                {{ form_widget(form) }}
                <div class="form-group">
                    <button class="btn btn-primary">Créer une nouvelle annonce</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        {#<button id="urlImage">Ajouter des images url</button>#}

    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('js/add-image') }}
    <script>
        $('fieldset').toggle();
        $('#urlImage').click(function () {
            $('fieldset').toggle();
        })

    </script>
{% endblock %}