{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

    <style>
        a[data-toggle="modal"]{
            font-size: 0.8125rem;
        }
        .socialNetwork>.fab, .socialNetwork>.far, .socialNetwork>.fas{
            margin-right: 1rem;
            color: #3B5998;
        }
        div.modal-body>div.row>div.col-12{
            border-bottom: 1px solid #dee2e6;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }
        div.modal-body>div.row>div.col-12:last-child{
            border-bottom: none;
            padding-bottom: 0;
        }
        div.modal-body>div.row>div.col-12:first-child{
            padding-top: 0;
        }
        .socialNetwork{
            font-size: 1.5rem;
            padding-left: 1.2rem;
        }
    </style>

{% endblock %}

{% block title %}{{ ad.title }}{% endblock %}

{% block body %}
    <div class="ad" {% if ad.adCoverImage %}
         style="background-image: url({{ vich_uploader_asset(ad, 'imageFile2') }})"
         {% elseif not ad.adCoverImage and ad.coverImage %}
         style="background-image: url({{ ad.coverImage }})"
        {% else %}
        style="background-image: url({{ asset('images/ads_cover_images/cover_image_default.jpeg') }})"
    {% endif %}>
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2 mb-4">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }}&euro;</strong> par nuits
            </p>
            {% if app.user and app.user == ad.author %}
                <form class="ml-lg-1 my-1 d-inline-block mr-3 mb-2" method="post" action="{{ path('ads_edit', {'slug': ad.slug}) }}">
                    <input type="hidden" name="_method" value="EDIT">
                    <input type="hidden" name="_token_edit" value="{{ csrf_token('edit' ~ ad.slug ) }}">
                    <button class="btn btn-warning ">Modifier l'annonce</button>
                </form>
                {#<a href="{{ path('ads_edit', {'slug': ad.slug}) }}" class="btn btn-warning">Modifier l'annonce</a>#}
                <form class="ml-lg-1 my-1 d-inline-block mr-5 mr-md-3 mb-2" method="post" action="{{ path('ads_delete', {'slug': ad.slug}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.slug ) }}">
                    <button class="btn btn-danger ">Supprimer l'annonce</button>
                </form>
                {#<a href="{{ path('ads_delete', {'slug': ad.slug}) }}" class="btn btn-danger ml-2"
                   onclick="return confirm(`Êtes vous sur de vouloir supprimer l'annonce {{ ad.title }} ?`)">Supprimer
                    l'annonce</a>#}
            {% else %}
                <a href="{{ path('booking_create', {'slug': ad.slug}) }}" class="btn btn-primary mr-3 mb-2">Réserver</a>
            {% endif %}
            <a href="{{ path('ads_like', {'slug': ad.slug}) }}" class="js-like btn btn-secondary mr-3 mb-2">
                {% if app.user and ad.isLikeByUser(app.user) %}
                    <i class="fas fa-heart mr-1" style="color: red"></i>
                {% else %}
                    <i class="far fa-heart mr-1" style="color: red"></i>
                {% endif %}
                <span class="js-likes">
                    {{ ad.likes|length }}
                </span>
                <span>{% if ad.likes|length > 1 %} aiment{% else %} aime{% endif %} cette annonce</span>
            </a>
            <a href="#" class="btn btn-warning mr-xl-3 mb-2" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="fas fa-share-alt mr-3"></i>Partager
            </a>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-4">
                <div class="col-12">
                    <span   >
                        {{ ad.content|raw }}
                    </span>
                </div>
                <br>

                {% include 'common/carousel.html.twig' %}

                <hr>

                {% if ad.comments|length > 0 %}
                    <h2 class="mb-3">Commentaires de nos voyageurs</h2>

                    <div class="alert alert-dark">
                        <div class="alert-heading text-center">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h5>Note globale donnée par nos voyageurs</h5>
                                </div>
                                <div class="col">
                                    {% include 'common/rating.html.twig' with{'rating' : ad.avgRatings} %}
                                    <br>
                                    <small>(calculée sur {{ ad.comments|length }} avis)</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for comment in ad.comments %}
                        <div id="comments_for_ads" class="rounded mb-3">
                            <div id="comment_author" class="bg-gradient-warning px-3 py-2">
                                {% if comment.author.avatarname %}
                                    <img src="{{ vich_uploader_asset(comment.author, 'imageFile')}}" class="avatar avatar-mini" alt="Avatar de {{ comment.author.fullName }}">
                                {% elseif not comment.author.avatarname and comment.author.picture %}
                                    <img src="{{ comment.author.picture }}" class="avatar avatar-mini" alt="Avatar de {{ comment.author.fullName }}">
                                {% else %}
                                    <img src="{{ asset('images/user/avatar_default.jpeg') }}" class="avatar avatar-mini" alt="Avatar de {{ comment.author.fullName }}">
                                {% endif %}
                                <strong>{{ comment.author.firstName }}</strong> a dit :
                            </div>
                            <div class="px-3 py-2">
                                <blockquote>
                                    {{ comment.content }}
                                </blockquote>
                                <strong>Note: </strong>
                                {% include 'common/rating.html.twig' with {'rating': comment.rating} %}
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2>Cette annonce n'a pas encore reçu de commentaires...</h2>
                {% endif %}
            </div>
            <div class="col pl-5">
                {% set a = ad.author %}
                <div class="row">
                    <div class="col-3">
                        <a href="{{ path('user_show', {'slug': a.slug}) }}">
                            {% if ad.author.avatarname %}
                                <img src="{{ vich_uploader_asset(ad.author, 'imageFile')}}" class="avatar avatar-mini" alt="Avatar de {{ ad.author.fullName }}">
                            {% elseif not ad.author.avatarname and ad.author.picture %}
                                <img src="{{ ad.author.picture }}" class="avatar avatar-mini" alt="Avatar de {{ ad.author.fullName }}">
                            {% else %}
                                <img src="{{ asset('images/user/avatar_default.jpeg') }}" class="avatar avatar-mini" alt="Avatar de {{ ad.author.fullName }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="col">
                        <a href="{{ path('user_show', {'slug': a.slug}) }}">
                            <h3>{{ a.fullName }}</h3>
                        </a>
                        <span class="badge badge-primary">{{ a.ads|length }} annonces</span>
                    </div>
                </div>

                <div>
                    {{ a.description |raw }}
                </div>
                <div id="map" class="mt-4" style="width: 100%; height: 400px" data-lat="{{ ad.lat }}" data-lng="{{ ad.lng }}"></div>

                <div class="table-active text-center p-2 alert alert-primary">L'adresse exacte vous sera communiqué après la réservation</div>
            </div>
        </div>
    </div>
    </div>






    {# MODAL #}
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLongTitle">Partager vos envies avec vos proches</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <a class="socialNetwork" href="https://twitter.com/intent/tweet?url={{ url('ads_show', {'slug':ad.slug}) }}" target="_blank"><i class="fab fa-twitter" style="color: #00B6F1;"></i>Twitter</a>
                        </div>
                        <div class="col-12">
                            <a class="socialNetwork" href="https://www.facebook.com/sharer.php?u={{ url('ads_show', {'slug':ad.slug}) }}" target="_blank"><i class="fab fa-facebook" style="color: #3B5998;"></i>Facebook</a>
                        </div>
                        <div class="col-12">
                            <a class="socialNetwork" href="https://www.whatsapp.com/?lang=fr" target="_blank"><i class="fab fa-whatsapp" style="color: #25d366;"></i>WhatsApp</a>
                        </div>
                        <div class="col-12">
                            <a class="socialNetwork" href="https://www.linkedin.com/shareArticle?mini=true&url={{ url('ads_show', {'slug':ad.slug}) }}" target="_blank"><i class="fab fa-linkedin-in" style="color: #04669A;"></i>Linkedin</a>
                        </div>
                        <div class="col-12">
                            <a class="socialNetwork" href="https://www.instagram.com/?hl=fr" target="_blank"><i class="fab fa-instagram" style="color: #c13584"></i>Instagram</a>
                        </div>
                        <div class="col-12">
                            <a class="socialNetwork" href="https://www.snapchat.com/l/fr-fr/" target="_blank"><i class="fab fa-snapchat" style="color: #fffc00;"></i>SnapChat</a>
                        </div>
                        {% set myEmail = "Partager cette annonce avec vos proches ! " %}
                        <div class="col-12">
                                <a class="socialNetwork" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=target@email.com&su=Annonce FlashBnB location de biens immobilier&body={{ myEmail|raw }}{{ url('ads_show', {'slug': ad.slug}) }}" target="_blank"><i class="fas fa-envelope-open-text"></i>Mail</a>
                        </div>
                        {#<div class="col-12">
                            <a class="socialNetwork" href="{{ path('pdf_download', {'slug': ad.slug})  }}"><i class="far fa-file-pdf" style="color: #ff0000;"></i>Télécharger en PDF</a>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        let map = document.querySelector('#map')
        if (map !== null){

            let center = [map.dataset.lat, map.dataset.lng]
            let icon = L.icon({

                iconUrl: '/images/house.png',
                iconSize: [35, 35],
                popupAnchor: [0, -20]
            });
            map = L.map('map', {worldCopyJump: true}).setView(center, 12)
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                minZoom: 4,

                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors for <a href="{{ path('home') }}">FlashBnb</a>'
            }).addTo(map);
            L.marker(center, {icon: icon}).addTo(map).bindPopup("<b>{{ad.price}} &euro; / nuits</b>", {closeButton: false}).openPopup();
            L.circle(center, {
                stroke:false,
                color: 'grey',
                fillColor: 'grey',
                fillOpacity: '0.4',
                radius: 100
            }).addTo(map)
        }
        /**$('.leaflet-popup-close-button').remove();
        $('.leaflet-popup-content').css('margin', "5px");
        $('.leaflet-popup-content-wrapper > div').maxWidth("20").height("30");**/
    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}


