
{% block stylesheets %}
    <style>
        {# here, define your CSS styles as usual #}

        #promocode {
            color: green;
        }
    </style>
{% endblock %}



{% block body %}


    <div class="example-wrapper">
        <div id="logo">
            <a href="{{ url('home') }}">
                <img src="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('images/logo/logo_flashbnb_vecto_grey.png')}}" alt="logo FlashBnb" style="width: 200px">
            </a>
        </div>
        <h1>Bonjour {{ user.FullName }} ! </h1>

       <h3>Pour profitez pleinement de votre futur logement FlashBnb vous offre 10% de réduction sur votre prochaine réservation</h3>
       <h3>Bénéficiez de vos 10% en utilisant le code ci-dessous:</h3>

        <h3 id="promocode">{{ promocode.code }}</h3>

        <h3>Attention ! Ce code n'est utilisibale qu'une seul fois et est lié à votre <a href="{{ url('account_index') }}">compte</a></h3>

        <h3>L'équipe <a href="{{ url('ads_index') }}">FlashBnB</a></h3>
    </div>
{% endblock %}

