
{% block stylesheets %}

{% endblock %}



{% block body %}


    <div class="example-wrapper">
        <div id="logo">
            <a href="{{ url('home') }}">
                <img src="{{ app.request.scheme ~'://'~ app.request.httpHost ~ asset('images/logo/logo_flashbnb_vecto_grey.png')}}" alt="logo FlashBnb" style="width: 200px">
            </a>
        </div>
        <h1>Bonjour {{ user.FullName }} ! </h1>

        <h4>Une demande de réinitialisation de mot de passe a été effectuée sur votre compte <a href="{{ path('home') }}">FlashBnb</a></h4>
        <h4>Veuillez cliquer sur le lien suivant pour réinitialiser le mot de passe: <a href="{{ urlReset }}">Réinitialisation</a></h4>


        <h4>L'équipe <a href="{{ url('ads_index') }}">FlashBnB</a></h4>
    </div>
{% endblock %}

